.App {
  text-align: center;
  background-color: #dee0ea;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-IdeaBox {
  padding-top: 3vh;
  max-width: 120vh;
  margin-left: auto;
  margin-right: auto;
}

.App-IdeaBox-Header {
  background-color: orange;
  min-height: 10vh;
  padding-top: 5vh;
  color: black;
  font-size: calc(20px + 2vmin);
  justify-content: center;
}

.App-IdeaBox-Tags button {
  min-width: 30vh;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
